{
  "extends": "stylelint-config-standard",
  "rules": {
    "font-family-no-duplicate-names": [
      true,
      {
        "ignoreFontFamilyNames": [
          "monospace"
        ]
      }
    ],
    "selector-type-no-unknown": [
      true,
      {
        "ignore": [
          "custom-elements"
        ]
      }
    ]
  }
}