<div id="criteria">
  <ul data-bind="foreach: searchCriteria()">
    <li data-bind="text: $data"></li>
  </ul>
</div>
<div class="floatin">
  <div class="cool-input">
    <input type="text" data-bind="value: filter, valueUpdate: 'keyup'" placeholder="search an item" autocomplete="off" />
  </div>
  <div class="col-II">
    <div class="cool-input">
      <button data-bind="click: sortAz">sort A &dash; Z</button>
    </div>
  </div>
  <div class="col-II">
    <div class="cool-input">
      <button data-bind="click: sortZa">sort Z &dash; A</button>
    </div>
  </div>
</div>
